.main {
  width: 100%;
  display: flex;
  justify-content: center;
}
.product-details {
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
}
.link-paths {
  margin: 7% auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  color: #dc092e;
  word-wrap: break-word;
  text-transform: uppercase;
  font-weight: 600;
}
.product-detail {
  width: 100%;
  border: 2px solid black;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}
.product-title {
  font-size: 145%;
  padding: 1%;
  text-transform: uppercase;
  font-weight: 600;
}
.product-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-photos img {
  display: none;
}

.product-photos .block {
  display: block;
  object-fit: cover;
  max-height: 27vh;
  width: auto;
  max-width: 93%;
  border-radius: 0.5rem;
}
.product-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-photos button {
  margin-top: 15px;
  background-color: #dc092e;
  padding-left: 2%;
  padding-right: 2%;
  border: none;
  color: white;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  cursor: pointer;
}
.product-info {
    width: 40%;
}
.product-detail-item {
    margin: 1% auto;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}
.product-item-title {
    text-align: center;
    padding: 1%;
    margin: 1%;
}
.product-item-text {
    padding: 1%;
    margin: 1%;
}
.product-item-text::first-letter {
  text-transform: uppercase;
}
.add-block {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.cart-button {
    width: 90%;
    font-size: 200%;
}
.add-block button {
    margin-top: 17px;
    background-color: #dc092e;
    padding: 10%;
    border: none;
    color: white;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 0.9em;
    cursor: pointer;
}