* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: #77051a;
  }
  &:active {
    transform: translateY(1px);
  }
  &:focus {
    animation: pulse 0.5s ease-in-out;
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 25px #77051a, 0 0 50px #dc092e;
  }
}

button {
  &:hover {
    background-color: #77051a;
  }
  &:active {
    transform: translateY(1px);
  }
  &:focus {
    animation: pulse 0.5s ease-in-out;
  }
}
