.main__notfound {
  display: flex;
  align-items: center;
  background: #f3f3f3;
  border-radius: 15px;
}
.main__notfound_img {
  width: 50%;
  height: 50%;
}
.main__notfound_button {
  width: 64%;
  height: 45px;
  background: #ff4f5b;
  border-radius: 15px;
  cursor: pointer;
}
